
@{
    ViewData["Title"] = "V_701_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Masters/BedManagement.css" rel="stylesheet" />
@section scripts{
<script src="~/js/eSyaInPatient/BedManagement.js"></script>
}
<style>
    #wardSection {
        background: #fafafa;
        margin: 0px 0px 10px;
        padding: 5px 0px;
        border: 1px solid #eaeaea;
    }
    #bedSection .outerbox {
        width: 15.62%;
        padding: 0px 0rem;
        border-left: 4px solid #ddd;
        cursor: pointer;
        display: inline-flex;
        background: #fff;
        border-radius: 4px;
        margin: 0px 0.75rem 1.25rem 0px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    #bedSection .innerbox p {
        font-size: 11.25px;
        display: block;
        color: #797172;
    }
    #bedSection .innerbox {
        padding: 5px 0px;
        width: 100%;
        margin:0px;
    }

    #bedSection .innerbox .fa-bed {
        font-size: x-large;
        color: #e3e3e3;
        height: 100%;
    }
    #bedSection h4 {
        margin: 0px -15px 10px;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
        color: #505050;
        background: #fff;
        padding: 0px 0px 0px;
        letter-spacing: 1.15px;
    }
    .innerbox .patientName {
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<section id="wardSection">
    <div class="row mar0">
        <div class="col-lg-2 col-md-2 col-sm-6 pl-3">
            <select class="form-control">
                <option value="value">Select</option>
                <option>All</option>
                <option>General</option>
                <option>Semi Private</option>
                <option>Private</option>
                <option>Deluxe</option>
                <option>Semi Deluxe</option>
                <option>AC</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 ">
            <select class="form-control">
                <option value="value">Select bed status</option>
                <option>All</option>
                <option>Vacant</option>
                <option>Admitted</option>
                <option>Maintenance</option>
                <option>Deluxe</option>
                <option>HouseKeeping</option>

            </select>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
            <ul class="legendItems">
                <li>Bed Status:</li>
                <li><span class="square vacant"></span> - Vacant</li>
                <li><span class="square admitted"></span> - Admitted</li>
                <li><span class="square maintenance"></span> - Maintenance</li>
                <li><span class="square housekeeping"></span> - HouseKeeping</li>
                <li><span class="square selected"></span> - Selected</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
            <button type="button" class="btn btn-link">More options</button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row mar0">
                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;background:aliceblue;height:100%;">

                </div>
            </div>
        </div>
    </div>

</section>

<section id="bedSection" class="d-none">
    <h4>General Ward - Male - </h4>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-01 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox admitted">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-02 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox admitted">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-03 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-04 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-05 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-06 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-07 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-08 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>

</section>

<section id="bedSection" class="d-none">
    <h4>General Ward - Female</h4>
   
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-01 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-02 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-03 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-04 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-05 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-06 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-07 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>
    <div class="outerbox">
        <div class="innerbox row">
            <div class="col-lg-3 col-md-3"><i class="fa fa-bed"></i></div>
            <div class="col-lg-9 col-md-9">
                <p class="mar0">A1-08 </p>
                <p class="mar0">Mr.Arun Kumar </p>
            </div>
        </div>
    </div>

</section>

<section id="bedSection">
    <div id="divBed">

    </div>
</section>



    




<div id="bedAndPatientDetails" style="display:none">
    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12" id="divBedLayout">
            <div class="row" id="divBed">
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="PopupBedDetails" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-md  " style="box-shadow:none">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header popupHeader">
                <h4 class="modal-title">Bed Details</h4>
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">

                <div class="col-lg-12  col-md-12 col-sm-12 pad0">

                    <div class="form-group">
                        <label class="lblBlock">Patient Name</label>
                        <label class="lblPatientDetails">Mr. Ahmed Mohammed Shakul Hamed</label>
                    </div>
                    <div class="form-group">
                        <label class="lblBlock">Patient ID:</label>
                        <label class="lblPatientDetails">AHM000002500</label>
                    </div>
                    <div class="d-inline-b mr-10 form-group">
                        <label class="lblInline">Age</label>
                        <label class="lblPatientDetails">45</label>
                    </div>

                    <div class="d-inline-b mr-10 form-group">
                        <label class="lblInline">Gender</label>
                        <label class="lblPatientDetails">Male</label>
                    </div>
                    <div class="d-inline-b mr-10 form-group">
                        <label class="lblInline">Date of Admission</label>
                        <label class="lblPatientDetails">02/02/2021</label>
                    </div>

                    <div class="form-group">
                        <label class="lblBlock">Doctor Name:</label>
                        <label class="lblPatientDetails">Dr.Kabali Khan</label>
                    </div>

                    <div class="form-group">
                        <label class="lblBlock">Bed Number</label>
                        <label class="lblPatientDetails" id="lblBedNumber">A1-03</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--accent primary-button mb-10"> Admit</button>
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--accent primary-button mb-10"> Discharge</button>
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--accent primary-button mb-10"> Transfer</button>

            </div>
        </div>
    </div>
</div>
 