
@{
    ViewData["Title"] = "ResetPassword";
}

<style>

    .pass_show {
        position: relative
    }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #fada28;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

            .pass_show .ptxt:hover {
                color: #333333;
            }
    .resetPasswordSection {
        width: 440px;
        margin: 10px auto;
        border: 0px solid #ccc;
        padding: 25px 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
</style>

<section class="resetPasswordSection">
    <div class="row">
        <div class="col-sm-12">

            <label>Current Password</label>
            <div class="form-group">
                <input type="password" id="txtCurrentPassword" value="" class="form-control">
            </div>
            <label>New Password</label>
            <div class="form-group pass_show">
                <input type="password" id="txtNewPassword" class="form-control">
            </div>
            <label>Confirm Password</label>
            <div class="form-group">
                <input type="password" id="txtConfirmPassword" class="form-control">
            </div>

        </div>

        <div class="col-sm-12" style="text-align:center">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-r-15" id="btnSave" onclick="fnSave()"><i class="fas fa-sync"></i> Update </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btnClear" onclick="fnClear()"><i class="fa fa-trash"></i> Clear</button>
        </div>
    </div>
</section>
    <script>
        $(document).ready(function () {
            $('.pass_show').append('<span class="ptxt">Show</span>');
        });


        $(document).on('click', '.pass_show .ptxt', function () {

            $(this).text($(this).text() == "Show" ? "Hide" : "Show");

            $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });

        });


        function fnSave() {
            $("#btnSave").attr("disabled", true);
            $.ajax({
                url: getBaseURL() + '/UserProfile/ResetUserPassword',
                type: 'POST',
                datatype: 'json',
                data: {
                    currentPassword: $("#txtCurrentPassword").val(),
                    newPassword: $("#txtNewPassword").val(),
                    confirmPassword: $("#txtConfirmPassword").val()
                },
                async: false,
                success: function (response) {

                    if (response.Status == true) {
                        toastr.success("Updated");
                        fnClear();
                    }
                    else {
                        toastr.error(response.Message);
                    }
                    $("#btnSave").attr("disabled", false);
                },
                error: function (error) {
                    toastr.error(error.statusText);
                    $("#btnSave").attr("disabled", false);
                }
            });
        }

        function fnClear() {
            $("#txtCurrentPassword").val("");
            $("#txtNewPassword").val("")
            $("#txtConfirmPassword").val("")
        }

    </script>
