
@{
    ViewData["Title"] = "V_3020_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/jquery.steps.css" rel="stylesheet" />
<script src="~/js/jquery.steps.min.js"></script>
<link href="~/css/eSyaOutPatient/patientRegistration.css" rel="stylesheet" />

<script src="~/js/eSyaOutPatient/emergency.js"></script>
<script src="~/js/jquery.repeater.js"></script>

<div id="divOPRegistration">
    <h3>Visit Details</h3>
    <section>
        <div class="filters">
            <div class="row">
                <div class="col-lg-12">
                    <p class="subheading">Visit Details</p>
                    <hr class="left" />
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-3 col-md-2 col-sm-4">
                    <div class="form-group pb-3">
                        <label for="txtNationalityID">Services</label>
                        <select class="selectpicker" id="cboServices" data-container="body">
                            <option value="value">Select</option>
                            <option value="value" selected>Outpatient Consultation</option>
                            <option value="value">Preventive Health</option>
                            <option value="value">Other Services</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Mobile Number</label>
                        <input id="txtMobileNumber" type="text" class="form-control" autofocus maxlength="10" />
                        <span class="spinner-border" role="status"></span>
                    </div>
                </div>
                <div id="divListItems" class="col-lg-9 col-md-10 col-sm-8" style="display:none">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="list-card">
                                <div class="card-header">
                                    Appointment Booking show Clinic Type
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tokenno" id="chkTokenno1" value="CW08195">
                                            <label class="form-check-label patientname" for="chkTokenno1">Arun Kumar</label>
                                            <label class="form-check-label tokennumber" for="chkTokenno1">CW08195</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tokenno" id="chkTokenno2" value="CW08195">
                                            <label class="form-check-label patientname" for="chkTokenno2">Bala Kumar</label>
                                            <label class="form-check-label tokennumber" for="chkTokenno2">CW08100</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tokenno" id="chkTokenno3" value="CW08195">
                                            <label class="form-check-label patientname" for="chkTokenno3">Ruturaj</label>
                                            <label class="form-check-label tokennumber" for="chkTokenno3">CW08120</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tokenno" id="chkTokenno4" value="CW08195">
                                            <label class="form-check-label patientname" for="chkTokenno4">Moen Ali</label>
                                            <label class="form-check-label tokennumber" for="chkTokenno4">CW08100</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4">
                            <div class="list-card">
                                <div class="card-header">
                                    Registered Patient
                                </div>


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="patientName" id="chkNewMember" value="newmember" onchange="fnPatientName() ">
                                            <label class="form-check-label" for="chkNewMember">
                                                New Member
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="patientName" id="chkPatient1" value="chkPatient1" onchange="fnPatientName() ">
                                            <label class="form-check-label" for="chkPatient1">
                                                H0121-Mr.Arun Kumar
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="patientName" id="chkPatient2" value="chkPatient2" onchange="fnPatientName() ">
                                            <label class="form-check-label" for="chkPatient2">
                                                H0121-Mr.Ashok Kumar
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="patientName" id="chkPatient3" value="chkPatient3" onchange="fnPatientName() ">
                                            <label class="form-check-label" for="chkPatient3">
                                                H0121-Mr.Bala Kumar
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4">
                            <div class="list-card">
                                <div class="card-header">
                                    Specialty,Doctor,Time Slot,UHID
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-check"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-2 col-sm-4 d-none">
                    <label class="d-block">Visit Class</label>
                    <label class="d-inline mr-10"> <input type="radio" name="typeofvisit" value="Walk-in" checked /> Walk-in</label>
                    <label class="d-inline mr-10"> <input type="radio" name="typeofvisit" value="Booked" /> Booked</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-4">
                    
                </div>
            </div>
        </div>
        <section class="sub-section">
            <div class="section-clinicInfo" style="display:none">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="subheading">Clinic Info</p>
                        <hr class="left" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Clinic</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Specialty</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Doctor</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-group bootstrap-timepicker">
                            <label>TimeSlot</label>
                            <input type="time" class="form-control" name="" value="" id="" />
                        </div>
                        @*<div class='input-group date' id='txtTimeSlot'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="fa fa-clock"></span>
                        </span>
                    </div>*@
                    </div>


                </div>
            </div>

            <div class="section-passporttDetails" style="display:none">

                <div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-4">
                        <div class="form-group">
                            <label for="txtNationalityID">Nationality</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-4">
                        <button type="button" class="mdl-button d-inline-block h-50" id="btnPassportDetails" data-target="#PopupPassportDetails" data-toggle="modal"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4">
                        <div class="form-group">
                            <label for="txtNationalityID">Nationality ID</label>
                            <input id="txtNationalityID" type="text" class="form-control d-inline-block" />
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-2 col-sm-4 form-group">
                        <div class="default-checkbox">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkIsPPScanned">
                                <input type="checkbox" id="chkIsPPScanned" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Is VIP</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section-patientInfo" style="display:none">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="subheading">Patient Demographic</p>
                        <hr class="left" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtFirstName">First Name</label>
                            <input id="txtFirstName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtMiddleName">Middle Name</label>
                            <input id="txtMiddleName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtLastName">Last Name</label>
                            <input id="txtLastName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 pr-0">
                                <div class="form-group">
                                    <label for="txtDateOfBirth">DOB <span class="lblInfo">DD/MM/YYYY</span></label>
                                    <input id="txtDateOfBirth" type="text" class="form-control datepicker" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1  padtop20 pl-lg-0 pl-md-0 pr-0">
                                <label>(or)</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pl-0">
                                <div class="form-group">
                                    <label class="d-block">Age <span class="lblInfo">(YY MM DD)</span></label>
                                    <input id="txtDateOfBirth" type="text" class="form-control d-inline-block  w-25" placeholder="YY" />
                                    <input id="txtDateOfBirth" type="text" class="form-control d-inline-block w-25" placeholder="MM" />
                                    <input id="txtDateOfBirth" type="text" class="form-control d-inline-block w-25" placeholder="DD" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="">Gender</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-4">
                        <div class="form-group">
                            <label for="">Email ID</label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>

                </div>
            </div>


            <div class="section-address" style="display:none">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="subheading">Patient Address</p>
                        <hr class="left" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">Address Line 1    </label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">Address Line 2</label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">Address Line 3</label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">Country </label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">State</label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">City</label>
                            <input id="" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-patientCategory" style="display:none">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="subheading">Patient Profile</p>
                        <hr class="left" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="">Patient Type</label>
                            <select class="form-control selectpicker" id="cboPatientType" onchange="fnPatientTypeForPayment()" data-container="body">
                                <option value="0">Select</option>
                                <option value="g">General</option>
                                <option value="c">Corporate</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="">Patient Category</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="">Rate Plan</label>
                            <select class="form-control selectpicker" data-container="body">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>



                </div>
            </div>

            <div class="section-payer" style="display:none">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="subheading">Payer Info</p>
                        <hr class="left" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <div class="repeater" id="divInsuranceType">
                            <div data-repeater-list="group-a">
                                <div class="row" data-repeater-item>
                                    <div class="col-lg-11 col-md-11 col-sm-11">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Payer</label>
                                                    <select class="form-control">
                                                        <option value="value">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Rate Plan</label>
                                                    <input type="text" name="name" value="" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Scheme Plan</label>
                                                    <select class="form-control">
                                                        <option value="value">Select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-1 col-md-1 col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Co Pay %</label>
                                                    <input type="text" name="name" value="" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-1 col-md-1">
                                        <button data-repeater-delete type="button" class="mdl-button mw-30"><i class="fa fa-times"></i></button>
                                    </div>


                                </div>

                            </div>
                            <button data-repeater-create type="button" value="Add" class="mdl-button mw-30"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
    <h3>Additional Info</h3>
    <section>
        
    </section>
    <h3>Bill Info</h3>
    <section class="">

        <div class="row bg-white m-0 py-2 mt-2">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12 p-0">
                <table id="jqgPaymentDetails"></table>
                <div id="jqpPaymentDetails"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <form class="repeater" id="divPaymentRepeater">

                    <div data-repeater-list="group-b">
                        <div class="row bg-white m-0 py-3 mt-2" data-repeater-item>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 pl-0">
                                        <label>
                                            Payment
                                        </label>
                                        <select class="form-control" id="cboPayment" title="Select" onchange="fnPaymentType()">
                                            <option value="cs">Cash</option>
                                            <option value="cc">Credit Card</option>
                                            <option value="dc">Debit Card</option>
                                            <option value="ef">Electronic Fund Transfer</option>
                                            <option value="cq">Cheque</option>
                                            <option value="pg">Accept Payment Gateway</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 lbl-right">
                                        <label class="">Amount to Collect</label>
                                        <input type="text" name="" value="" class="form-control float-right" />
                                    </div>

                                    <div class="row bg-white m-0 py-2 mt-2" id="divCardDetails" style="display:none;">
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Card Type</label>
                                            <select class="form-control">
                                                <option value="value">American Express</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Card Number</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Expiry Date & Year</label>
                                            <div class="row">
                                                <div class="col-7 pr-0">
                                                    <select class="form-control">
                                                        <option value="value">text</option>
                                                    </select>
                                                </div>
                                                <div class="col-5 pr-0">
                                                    <input type="text" name="" class="form-control" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <label class="lbl-right">Card Holder Name</label>
                                            <input type="text" name="name" class="form-control" value="" />
                                        </div>
                                        <div class="col-2">
                                            <label class="lbl-right">Card Terminal</label>
                                            <select class="form-control">
                                                <option value="value">text</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Approval No</label>
                                            <input type="text" name="name" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <div class="row bg-white m-0 py-2 mt-2" id="divElectronicFundTransfer" style="display:none;">
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Transfer Number</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Transfer Date</label>
                                            <input type="text" name="" value="" class="form-control datepicker" />
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Amount</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Transfer from Bank</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                            <label class="lbl-right">Transfer to Bank</label>
                                            <select class="form-control">
                                                <option value="value"></option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="row bg-white m-0 py-2 mt-2" id="divCheque" style="display:none;">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="lbl-right">Cheque Number</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="lbl-right">Cheque Date</label>
                                            <input type="text" name="" value="" class="form-control datepicker" />
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="lbl-right">Amount</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="lbl-right">Drawee Bank</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" id="divAcceptPaymentGateway" style="display:none;">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 bg-white m-0 py-2 mt-2">
                                            <label class="lbl-right">Reference Number</label>
                                            <input type="text" name="" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                <button data-repeater-delete type="button" class="mdl-button mw-30"><i class="fa fa-times"></i></button>
                            </div>
                        </div>

                    </div>
                    <button data-repeater-create type="button" value="Add" class="mdl-button mw-30"><i class="fa fa-plus"></i></button>


                </form>
            </div>
        </div>
    </section>

</div>



<div class="modal fade in" id="PopupPassportDetails" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg  " role="document" style="box-shadow:none;">
        <div class="modal-content ">
            <div class="modal-header popupHeader">
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">AddPassportDetails</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtPassportNumber">Passport Number</label>
                            <input id="txtPassportNumber" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtSurName">Sur Name</label>
                            <input id="txtSurName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtGivenName">Given Name</label>
                            <input id="txtGivenName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtDOBPP">Date of birth</label>
                            <input id="txtDOBPP" type="text" class="form-control datepicker" />
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtDateOfIssue">Date of Issue</label>
                            <input id="txtDateOfIssue" type="text" class="form-control datepicker" />
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtPlaceOfIssue">Place of Issue</label>
                            <input id="txtPlaceOfIssue" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="">Visa Type</label>
                            <select class="form-control">
                                <option value="value">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtVisaIssueDate">Visa Issue Date</label>
                            <input id="txtVisaIssueDate" type="text" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="txtVisaExpiryDate">Visa Expiry Date</label>
                            <input id="txtVisaExpiryDate" type="text" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="txtAddressAsPerPP">Address As per Passport</label>
                            <input id="txtAddressAsPerPP" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnSavePassportDetails">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal" id="btnCancelPassportDetails"><i class="fa fa-times"></i> Cancel </button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fullscreen fade in" id="PopupPayment" data-keyboard="false" data-backdrop="static" style="top:0px;">
    <div class="modal-dialog modal-lg  " role="document" style="box-shadow:none;">
        <div class="modal-content ">
            <div class="modal-header popupHeader">
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">Payment</h4>
            </div>

            <div class="modal-body">
                <div class="row bg-white shadowLite m-0 py-2 mb-3">
                    <div class="col-lg-3">
                        <label>Patient Name</label>
                        <label></label>
                    </div>
                    <div class="col-lg-3">
                        <label>Gender</label>
                        <label></label>
                    </div>
                    <div class="col-lg-3">
                        <label>Mobile number</label>
                        <label></label>
                    </div>
                </div>

                <div class="row bg-white m-0 py-2 mt-2">
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                        <table id="jqgPaymentDetails"></table>
                        <div id="jqpPaymentDetails"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnSavePayment">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal" id="btnCancelPayment"><i class="fa fa-times"></i> Cancel </button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#divOPRegistration").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });
    $(function () {
        var winH = $(window).height();
        var docH = $(document).height();
        var navbarH = $("#header_navbar").outerHeight(true);
        var bannerH = $('.banner').outerHeight(true);
        var stepsH = $('.steps').outerHeight(true);
        var actionsH = $('.actions').outerHeight(true);
        var newH = '';
        newH = ((winH) - (navbarH + bannerH + stepsH + actionsH + 15));
        $('.content').css('height', newH);
        var _ss = $(".sub-section").offset().top;
        $(".sub-section").css({ 'height': winH - _ss - 80, 'overflow-y': 'auto' });
    });
   
    $("#previous-step").click(function () {
        $('#stepper-step-1 , #stepper-step-2').toggleClass('show active');
        $("section[class^='section']").css('display', 'block');
    })
    $("#next").click(function () {
        $('#stepper-step-1').removeClass('show active');
        $('#stepper-step-2').addClass('show active');
        $("section[class^='section']").css('display', 'block');
    })
   
    $(document).ready(function () {
        $("div[class^='section']").css('display', 'none').removeClass('animated fadeIn');;
        $('.section-repeater').css('display', 'none');
        $('#divInsuranceType').repeater({
            repeaters: [{
                initEmpty: true,
                selector: '.inner-repeater'
            }],
            defaultValues: {
            },
            show: function (Index) {
                $(this).slideDown();
                $(".select").selectpicker("refresh");
           
            },
            hide: function (deleteElement) {
                if (confirm('Are you sure you want to delete this element?')) {
                    $(this).slideUp(deleteElement);
                }
            },
        });
        debugger;
        $('#divPaymentRepeater').repeater({
            repeaters: [{
                initEmpty: false
               
            }],
            defaultValues: {
            },
            show: function (Index) {
                $(this).slideDown();
               // $(".select").selectpicker("refresh");
                debugger;
                var selectedVal = $('#cboPayment').find(":selected").text().val();
                console.log(selectedVal);
                fnPaymentType(selectedVal);
               
            },
            hide: function (deleteElement) {
                if (confirm('Are you sure you want to delete this element?')) {
                    $(this).slideUp(deleteElement);
                }
            },
        });

        $('#PopupPayment').on('shown.bs.modal', function () {
            $('#PopupPayment').css('top', '0px');
        });

        fnPaymentDetailsGrid();
    });
    $("input[id='txtMobileNumber']").on("keypress keyup", function (e) {
        var myval = $("input[id='txtMobileNumber']").val();
        $('.spinner-border').css('visibility', 'visible');
        if (myval.length == 10) {
            $("#divListItems").css('display', 'flex').addClass('animated fadeIn');
            $('.spinner-border').css('visibility', 'hidden');
        }

        if ((myval.length < 10) || (myval.length == 0)) {
            $("#divListItems").css('display', 'none').slideUp('500');
            $('.spinner-border').css('visibility', 'hidden');
            $("div[class^='section']").css('display', 'none').removeClass('animated fadeIn');
            $("input[name='patientName']").removeAttr('checked');
        }
    });


    function fnPatientName() {
        if ($("input[name='patientName']:checked")) {
            var valOFradioBtn = $("input[name='patientName']:checked").val()
            $("#divListItems").css('display', 'none').slideUp('500');
            $("div[class^='section']").css('display', 'block').addClass('animated fadeIn');
            $(".section-payer").css('display', 'none');
        }
    }


    function fnPatientTypeForPayment() {
        var patientType = $("#cboPatientType option:selected").text();
        if (patientType == 'General') { $('.section-payer').css('display', 'none'); }
        else if (patientType == 'Corporate') { $('.section-payer').css('display', 'block'); }
        else { $('.section-repeater').css('display', 'none'); }
    }


    function fnPaymentDetailsGrid() {
        $("#jqgPaymentDetails").jqGrid({
            url: '',
            mtype: 'Post',
            datatype: 'json',
            ajaxGridOptions: { contentType: 'application/json; charset=utf-8' },
            jsonReader: { repeatitems: false, root: "rows", page: "page", total: "total", records: "records" },
            colNames: ["Service Name", "Doctor Name", "Amount", "Discount", "Net Amount", "Specialty"],
            colModel: [
                { name: "ServiceName", width: 300, editable: true, align: 'left', hidden: false },
                { name: "DoctorName", width: 200, editable: true, align: 'left', hidden: false },
                { name: "Amount", width: 170, editable: false, hidden: false, align: 'right', resizable: true },
                { name: "Discount", width: 120, editable: true, align: 'left', resizable: false, editoption: { 'text-align': 'right', maxlength: 50 } },
                { name: "Net Amount", width: 150, editable: true, align: 'left', resizable: false, editoption: { 'text-align': 'right', maxlength: 15 } },

                { name: "Specialty", width: 150, editable: true, align: 'left', hidden: false },
            ],
            pager: "#jqpPaymentDetails",
            rowNum: 10000,
            rownumWidth: '55',
            pgtext: null,
            pgbuttons: null,
            loadonce: true,
            viewrecords: true,
            gridview: true,
            rownumbers: true,
            height: 'auto',
            align: "left",
            width: 'auto',
            autowidth: true,
            shrinkToFit: true,
            forceFit: true,
            scrollOffset: 0,
            loadComplete: function (data) {
                SetGridControlByAction();
            },
        }).jqGrid('navGrid', '#jqpPaymentDetails', { add: false, edit: false, search: false, del: false, refresh: false });
    }
    var selectedValue = "";
    function fnPaymentType(selectedValue) {
        debugger;
       // $("#cboPayment").selectpicker("refresh");
       // var selectedText = $("button[data-id='cboPayment'] .filter-option-inner").text();
        console.log(selectedValue);
        if (selectedValue.toLowerCase() == 'cash') {
            $('#divCashDetails').css('display', 'flex');
            $('#divCardDetails,#divElectronicFundTransfer,#divCheque,#divAcceptPaymentGateway').css('display', 'none');
        }
        if (selectedValue.toLowerCase() == 'credit card' || selectedText.toLowerCase() == 'debit card') {
            $("#divCardDetails").css('display', 'flex');
            $('#divCashDetails,#divElectronicFundTransfer,#divCheque,#divAcceptPaymentGateway').css('display', 'none');
        }
        if (selectedValue.toLowerCase() == 'electronic fund transfer') {
            $('#divElectronicFundTransfer').css('display', 'flex');
            $('#divCashDetails,#divCardDetails,#divCheque,#divAcceptPaymentGateway').css('display', 'none');
        }
        if (selectedValue.toLowerCase() == 'cheque') {
            $("#divCheque").css('display', 'flex');
            $('#divCashDetails,#divCardDetails,#divElectronicFundTransfer,#divAcceptPaymentGateway').css('display', 'none');
        }
        if (selectedValue.toLowerCase() == 'accept payment gateway') {
            $("#divAcceptPaymentGateway").css('display', 'flex');
            $('#divCashDetails,#divCardDetails,#divElectronicFundTransfer,#divCheque').css('display', 'none');
        }
    }
</script>



