@{
    ViewData["Title"] = "ETM_07_00";
    Layout = "~/Views/Shared/_Layout_ws.cshtml";
    // Layout = null;
}
 
    <link href="~/css/TokenSystem/tokensystem.css" rel="stylesheet" />

 
    <header>
        <img src="~/images/logo/esya-logo-whitebg.jpeg" class="img-responsive" />
    </header>

    <main>
        <p class="headerText font-weight-bolder">Welcome <span id="txtMobile"></span></p>
        <h1 class="text-center">Token Management System</h1>
        <p class="text-small text-center instruction"> <span>Instruction:</span> Please click on the one of the button to generate token number for your required Service</p>
        <div class="container atmDisplay">
             <div class="row" id="dvMain"> 
            @*<div class="row">
                <div class="col-lg-6 col-md-6 pl-3 my-1">
                    <button type="button" class="btn btn-primary p-4" onclick="fnGeneratToken('RC')"> Registration & Consultation   </button>
                </div>
                <div class="col-lg-6 col-md-6 pl-3 my-1">
                    <button type="button" class="btn btn-primary p-4" onclick="fnGeneratToken('OP')"> OP Billing   </button>
                </div>
                <div class="col-lg-6 col-md-6 pl-3 my-1">
                    <button type="button" class="btn btn-primary p-4" onclick="fnGeneratToken('MH')"> MHC Billing  </button>
                </div>
                <div class="col-lg-6 col-md-6 pl-3 my-1">
                    <button type="button" class="btn btn-primary p-4" onclick="fnGeneratToken('RD')"> Report Dispatch</button>
                </div>
                <div class="col-lg-6 col-md-6 pl-3 my-1">
                    <button type="button" class="btn btn-primary p-4" onclick="fnGeneratToken('PH')"> Pharmacy</button>
                </div>*@

            </div>
            <div class="row divTK_panel" id="devTokenStatus">
            @*<div class="row divTK_panel">
                <div class="col-lg-12 col-md-12 col-12">
                    <h5>Token Status</h5>
                    <hr class="m-0" />
                </div>
                <div class="col-lg-4 col-md-6 col-4 border-right border-bottom d-flex justify-content-center flex-column">
                    <span class="tokenNumberDisplay">012367</span>
                </div>
                <div class="col-lg-4 col-md-4 col-4 border-bottom align-items-center">
                    <button type="button" class="btn btn-sm btn-link text-dark text-center">Registration</button>
                    <hr class="left w-100" />
                    <p class="m-0 text-small f-11 text-center">Completed</p>
                </div>
                <div class="col-lg-4 col-md-4 col-4 border-bottom d-flex justify-content-center flex-column">
                    <p class="txtwaittime">Approximate Wait Time</p><p class="text-center m-0">05:10</p>
                </div>

                <div class="col-lg-4 col-md-4 col-4 border-bottom py-2 border-right d-flex justify-content-center flex-column">
                    <span class="tokenNumberDisplay">022367</span>
                </div>
                <div class="col-lg-4 col-md-4 col-4  border-bottom align-items-center">
                    <button type="button" class="btn btn-sm btn-link text-dark text-center">Pharmacy</button>
                    <hr class="left w-100" />
                    <p class="m-0 text-small f-11 text-center">Completed</p>
                </div>
                <div class="col-lg-4 col-md-4 col-4 border-bottom align-items-center">
                    <p class="txtwaittime m-0">Approximate Wait Time</p><p class="text-center m-0">02:00</p>
                </div>

                <div class="col-lg-4 col-md-4 col-4 border-bottom py-2 border-right d-flex justify-content-center flex-column">
                    <span class="tokenNumberDisplay">032367</span>
                </div>
                <div class="col-lg-4 col-md-4 col-4 border-bottom align-items-center">
                    <button type="button" class="btn btn-sm btn-link text-dark text-center">OP Billing</button>
                    <hr class="left w-100" />
                    <p class="m-0 text-small f-11 text-center">Started</p>
                </div>
                <div class="col-lg-4 col-md-4 col-4 border-bottom align-items-center">
                    <p class="txtwaittime  m-0">Apporximate Wait Time</p><p class="text-center m-0">02:00</p>
                </div>*@
            </div>
             
        </div>

    </main>

    <script src="~/lib/bootstrap/dist/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/material.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>

    <script src="~/js/jquery.PrintArea.js"></script>
    <script src="~/js/jQuery.print.min.js"></script>



    <div class="modal fade in " id="PopupTokenPrint" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="overflow: scroll;">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                    <h4 class="modal-title blur"> Token Print</h4>
                </div>
                <div class="modal-body bg-lightgrey">
                    <div style="text-align:center">
                        <div id="dvPrint" style="text-align:center;  width:7.5cm;height:7.5cm;">
                            <div id="dvPrintToken" class="PrintArea" style="border:8px double;padding:10px;margin:10px;text-align:center">
                                <div>
                                    <h1>Token Number</h1>
                                    @*<h3 id="lblDepartment">-</h3>*@
                                </div>
                                <hr style="border-top: 2px solid #212529;" />
                                <div>
                                    <h1 id="lblTokenNumber" style="font-weight: 900;font-size:60px">-</h1>
                                </div>
                            </div>
                            @*<button class="print-link no-print" onclick="jQuery('#dvPrintToken').print()">
                                    Print this (jQuery('#ele1').print())
                                </button>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="jQuery('#dvPrintToken').print()">Print</button>
                    <button type="button" class="btn btn-default" onclick="fnCloseModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

 
<script>
    var isd='';
    var mobile = '';
    var bKey = '';

    $(document).ready(function () {
        isd = localStorage.getItem("isd");
        mobile = localStorage.getItem("mobile");
        bKey = localStorage.getItem("BKey");
        $('#txtMobile').text(isd + ' ' + mobile);
        fnGetTokenTypes();
    });
    function fnGetTokenTypes() {
        $.ajax({
            url: getBaseURL() + '/Generate/GetTokenTypes',
            type: 'POST',
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var _content = "";
                $.each(result, function (key, data) {
                    _content += "<div class='col-lg-6 col-md-6 pl-3 my-1'><button type='button' class='btn btn-primary p-4' onclick=fnGeneratToken('" + data.TokenType + "')> " + data.TokenDesc + "</button></div>";
                });
                $("#dvMain").html(_content);
                fnGetTokenStatus();
            },
            error: function (error) {
                alert(error.statusText)
            }
        });

    }
    function fnGetTokenStatus() {
        $.ajax({
            url: getBaseURL() + '/Generate/GetTokenDetailByMobile',
            type: 'GET',
            data: {
                isdCode: isd,
                mobileNumber: mobile,
                businessKey: bKey
            },
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var _content = "<div class='col-lg-12 col-md-12 col-12'><h5>Token Status</h5> <hr class='m-0' /> </div>";                
                $.each(result, function (key, data) {
                    _content += "<div class='col-lg-4 col-md-6 col-4 border-right border-bottom d-flex justify-content-center flex-column'>";
                    _content += "<span class='tokenNumberDisplay'>" + data.TokenKey + "</span>";
                    _content += "</div>";
                    _content += "<div class='col-lg-4 col-md-4 col-4 border-bottom align-items-center'>";
                    _content += "<button type='button' class='btn btn-sm btn-link text-dark text-center'>" + data.TokenType + "</button>";
                    _content += "<hr class='left w-100' />";
                    _content += "<p class='m-0 text-small f-11 text-center'>" + data.TokenStatus + "</p>";
                    _content += "</div>";
                    _content += "<div class='col-lg-4 col-md-4 col-4 border-bottom d-flex justify-content-center flex-column'>";
                    _content += "<p class='txtwaittime'>Approximate Wait Time</p><p class='text-center m-0'>05:10</p>";
                    _content += "</div>";

                });
                $("#devTokenStatus").html(_content);
            },
            error: function (error) {
                alert(error.statusText)
            }
        });

    }


    function fnGeneratToken(_type) {
        var obj = {
            BusinessKey: bKey,
            TokenType: _type,
            Isdcode: isd,
            MobileNumber: mobile 
        };
        var URL = getBaseURL() + '/Generate/GenerateToken';
        $.ajax({
            url: URL,
            type: 'POST',
            datatype: 'json',
            contenttype: 'application/json; charset=utf-8',
            data: obj,
            success: function (response) {
                if (response.Status) {
                    // toastr.success("Token Generated. Token Number is : " + response.key);
                    $('#lblTokenNumber').text(response.key);
                    fnPrintToken();
                    fnGetTokenStatus();
                }
                else {
                    toastr.error(response.Message);
                }
            },
            error: function (error) {
                toastr.error(error.statusText);
            }
        });

    }
    function fnPrintToken() {
        //var divToPrint = document.getElementById('dvPrintToken');
        //var htmlToPrint = '';
        //htmlToPrint += divToPrint.innerHTML;
        //newWin = window.open("");
        ////newWin.document.write("<h3 align='center'>Print Page</h3>");
        //newWin.document.write(htmlToPrint);
        //newWin.print();
        //newWin.close();
        //return;

        //var options = { mode: "popup", popHt: 500, popWd: 400, popX: 500  , popY: 600, popTitle:"", popClose: false };
        //$("div.PrintArea").printArea(options);

        $("#dvPrintToken").print({
            // Use Global styles
            globalStyles: false,

            // Add link with attrbute media=print
            mediaPrint: false,

            //Custom stylesheet
            stylesheet: "http://fonts.googleapis.com/css?family=Inconsolata",

            //Print in a hidden iframe
            iframe: true,

            // Don't print this
            noPrintSelector: ".avoid-this",

            // Add this on top
            //append: "Free jQuery Plugins<br/>",

            //// Add this at bottom
            //prepend: "<br/>jQueryScript.net",
            // Manually add form values
            manuallyCopyFormValues: false,

            // resolves after print and restructure the code for better maintainability
            deferred: $.Deferred(),
            // timeout
            timeout: 250,

            // Custom title
            title: null,
            // Custom document type
            doctype: '<!doctype html>'
        });
    }

</script>

