@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        height:100%;
    }
    .img-background {
        background-image: url("../../images/gtpl_logo.jpg");
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height:100%;
        width: 50%;
        opacity: 0.15;
        margin: auto;
    }
    .renderBody {
        height: calc(100vh - 130px);
        overflow: hidden;
        position: relative;
        left: 300px;
        width: calc(100% - 300px);
    }
</style>


<div class="img-background">

</div>