
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommomIndex</title>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

    <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function () {
            $("#currIN").inputmask("9999");
        });
//]]>
    </script>
</head>
<body>
    <input value="10" id="currIN">
</body>
</html>
